node_modules  
.env  
npm-debug.log*  
yarn-debug.log*  

# OS and editor files  
.DS_Store  
Thumbs.db  
.idea/  
.vscode/  
*.swp  
*~  

# Logs and temporary files  
logs/  
*.log  
*.tmp  
tmp/  
.cache/  
.nyc_output  
coverage/  

# Compiled files (if you have a build process)  
dist/  
build/  

# Testing related  
test/reports/  
*.test.ts.snap  

# Personal/secret files  
.config/  

# Kubernetes (if applicable)  
.kube/  
*.yaml  

# CI/CD (if applicable)  
.circleci/  
.gitlab-ci.yml  
.travis.yml  
appspec.yml  

# Other files/folders you might want to ignore  
.history  
*.bak  
*.swp  



.vercel
